.navPacotes{
  width: 100%;
  height: 24rem;
  background: linear-gradient(rgba(17, 17, 17, 0.412),rgba(20,20,20,1)),url(../assets/drink6.jpg);
  background-position:center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.navPacotes h1{
  font-size: 4rem;
  letter-spacing: 1px;
  font-style: italic;
  color:  rgb(183, 143, 63);
  }


.section{
 width: 90%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.996);
  margin: 0 auto;
  border-right: 1px solid rgb(122, 119, 119);
  border-left: 1px solid rgb(122, 119, 119);
}
.section span{
  color:rgb(183, 143, 63) ;
 font-size: 2.5rem;
}
.section h1{
  text-align: center;
  padding-top: 2rem;
  font-size: 2.5rem;
  color: rgb(169, 176, 165);
}
.sectionContainer{
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr); 

}

.sectionContainer img{
  width: 20rem;
  height: 15rem;
  border-radius:  0.3rem;
}
.sectionContainer img:hover{
  transform: translateY(-5px);
}


/* ORCAMENTO TIPO */
.orcamentoType{
  height: 27rem;
  width: 20.1rem;
  border-radius:  0.7rem;
 text-align: center;
 margin: 3rem 1rem 1rem;
 border: 1px solid transparent;
 background-color: rgba(22, 22, 22, 0.862);

}
.orcamentoType h2{
  margin-top: 0.4rem;
  font-size: 1.3rem;
  color: rgb(217, 220, 222);
}
.orcamentoType p{
font-size: 0.9rem;
font-weight: bold;
color: rgb(224, 218, 218);
margin: 0.4rem 0 0.3rem 0;
}
.orcamentoPreco{
 display: flex;
 flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.2rem;
}

.orcamentoPreco p:last-child {
  font-size: 1.2rem;
  color: rgb(183, 143, 63);
  letter-spacing: -1px;
}
.orcamentoType a{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.orcamentoType a:first-of-type {
 border: 1px solid transparent;
 color: black;
 background-color:  rgb(204, 142, 18);
  padding: 0.8rem;
  border-radius: 0.8rem;
    opacity: 0.8;
  transition: 0.4s;
  width: 11rem;
  margin: 0 auto 1rem;
}
.orcamentoType a:first-of-type:hover{
opacity: 1;

}
.orcamentoType a:last-child{
  color: rgb(41, 39, 39);
  font-weight: bold;
  transition: 0.7s;
  letter-spacing: -1px;
}
.orcamentoType a:last-child:hover{
  color: rgb(53, 53, 53);
}
 /* SIDEBAR */

.sidebar {
  position: absolute;
  top: 52%;
  left: 6%;
  width: 10%;
  height: 76rem;
  background-color:transparent;
  display: flex;
 padding-top : 20px;
  writing-mode: vertical-rl; 
  transform: rotate(180deg); 
  text-orientation: mixed;
  color: rgb(146, 117, 60);
  overflow-y: none;
  justify-content: center;
  
}
.sidebar h2{
  font-size:2.3rem;
  text-transform: uppercase;
  animation: moveUp 40s linear infinite; 
  position: relative;
  font-weight: 800;
}
.textContainer {
  height: 100%; 
  overflow: hidden; 
  position: relative; 
  margin: 0;
}
@keyframes moveUp {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}
@media  (max-width: 480px){

  
  .navPacotes h1{
    font-size: 1.5rem;
    letter-spacing: 1px;
    font-style: italic;
    color:  rgb(183, 143, 63);
    }
  
    .section{
      
       border: none;
     }
  .section span{
    color:rgb(183, 143, 63) ;
   font-size: 1.1rem;
  }
  .section h1{
    text-align: center;
    padding-top: 2rem;
    font-size: 1.1rem;
    color: rgb(169, 176, 165);
  }
  .sectionContainer{
    width: 80%;
    display: flex;
    flex-direction: column; 
  }
  .sectionContainer img{
    width: 100%;
    height: 11rem;
    border-radius:  0.3rem;
  }
  .sectionContainer img:hover{
    transform: translateY(-5px);
  }
  
  /* ORCAMENTO TIPO */
  .orcamentoType{
    height: 100%;
    width: 100%;
    border-radius:  0.7rem;
   text-align: center;
   margin: 3rem 0rem;
   border: 1px solid transparent;
   background-color: rgba(22, 22, 22, 0.862);
  }

  .orcamentoType h2{
    margin-top: 0.4rem;
    font-size: 1.1rem;
    color: rgb(217, 220, 222);
  }
  .orcamentoType p{
  font-size: 0.9rem;
  font-weight: bold;
  color: rgb(224, 218, 218);
  margin: 0.4rem 0 0.3rem 0;
  }
  .orcamentoPreco{
   display: flex;
   flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.2rem;
  }
  
  .orcamentoPreco p:last-child {
    font-size: 1rem;
    color: rgb(183, 143, 63);
    letter-spacing: -1px;
  }
  .orcamentoType a{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .orcamentoType a:first-of-type {
     width: 7rem;
    margin: 0 auto 1rem;
    font-size: 1rem;
    color: black;
    background-color:  rgb(204, 142, 18);
    padding: 0.6rem;
    border-radius: 0.8rem;
     opacity: 0.8;
  transition: 0.4s;
  border: 1px solid transparent;
 
  }
  .orcamentoType a:first-of-type:hover{
  opacity: 1;
  
  }
  .orcamentoType a:last-child{
    color: rgb(41, 39, 39);
    font-weight: bold;
    transition: 0.7s;
    letter-spacing: -1px;
    font-size: 0.9rem;
  }
  .orcamentoType a:last-child:hover{
    color: rgb(53, 53, 53);
  }
  
.sidebar{
  display: none;
}

}
@media (min-width: 481px) and (max-width: 660px){
  
  .navPacotes h1{
    font-size: 2.5rem;
    letter-spacing: 1px;
    font-style: italic;
    color:  rgb(183, 143, 63);
    }
  
.section{
  border: none;
}
  .section span{
    color:rgb(183, 143, 63) ;
   font-size: 1.3rem;
  }
  .section h1{
    text-align: center;
    padding-top: 2rem;
    font-size: 1.3rem;
    color: rgb(169, 176, 165);
  }
  .sectionContainer{
    width: 70%;
    display: flex;
    flex-direction: column; 
  }
  .sectionContainer img{
    width: 100%;
    height: 13rem;
    border-radius:  0.3rem;
  }
  .sectionContainer img:hover{
    transform: translateY(-5px);
  }
  
  /* ORCAMENTO TIPO */
  .orcamentoType{
    height: 24.5rem;
    width: 100%;
    border-radius:  0.7rem;
   text-align: center;
   margin: 3rem 0rem;
   border: 1px solid transparent;
   background-color: rgba(22, 22, 22, 0.862);
   
  }

  .orcamentoPreco{
   display: flex;
   flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.2rem;
  }
  .sidebar{
    display: none;
  }


}
@media (min-width: 661px) and (max-width: 991px){
  
  .navPacotes h1{
    font-size: 3rem;
    letter-spacing: 1px;
    font-style: italic;
    color:  rgb(183, 143, 63);
    }
  .section{
    border: none;
  }  

  .section span{
    color:rgb(183, 143, 63) ;
   font-size: 1.5rem;
  }
  .section h1{
    text-align: center;
    padding-top: 2rem;
    font-size: 1.5rem;
    color: rgb(169, 176, 165);
  }
  .sectionContainer{
    width: 95%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
   gap:  2rem;
  }
  .sectionContainer img{
    width: 100%;
    height: 12.5rem;
    border-radius:  0.3rem;
  }
  .sectionContainer img:hover{
    transform: translateY(-5px);
  }
  
  /* ORCAMENTO TIPO */
  .orcamentoType{
    height: 24rem;
    width: 100%;
    border-radius:  0.7rem;
   text-align: center;
   margin: 1rem 0rem;
   border: 1px solid transparent;
   background-color: rgba(22, 22, 22, 0.862);
  
  }
  .orcamentoType h2{
    margin-top: 0.4rem;
    font-size: 1.2rem;
    color: rgb(217, 220, 222);
  }
  .orcamentoType p{
  font-size: 0.9rem;
  font-weight: bold;
  color: rgb(224, 218, 218);
  margin: 0.4rem 0 0.3rem 0;
  }
  .orcamentoPreco{
   display: flex;
   flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.2rem;
  }
  
  .orcamentoPreco p:last-child {
    font-size: 1.1rem;
    color: rgb(183, 143, 63);
    letter-spacing: -1px;
  }

  .sidebar{
    display: none;
  }


}
@media (min-width: 992px) and (max-width: 1199px){
  
.navPacotes h1{
  font-size: 3.5rem;
  letter-spacing: 1px;
  font-style: italic;
  color:  rgb(183, 143, 63);
  }


.section{
  height: 100%;
  background-color: rgba(0, 0, 0, 0.996);
  border: none;
}
.section span{
  color:rgb(183, 143, 63) ;
 font-size: 2rem;
}
.section h1{
  text-align: center;
  padding-top: 2rem;
  font-size: 2rem;
  color: rgb(169, 176, 165);
}
.sectionContainer{
  width: 100%;
  margin: 0  auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
 
}

.sectionContainer img{
  width: 100%;
  height: 15rem;
  border-radius:  0.3rem;
}
.sectionContainer img:hover{
  transform: translateY(-5px);
}

/* ORCAMENTO TIPO */
.orcamentoType{
  height: 26rem;
  width: 17.5rem;
  border-radius:  0.7rem;
 text-align: center;
 margin: 3rem 1rem;
 border: 1px solid transparent;
 background-color: rgba(22, 22, 22, 0.862);
}
.orcamentoType h2{
  margin-top: 0.4rem;
  font-size: 1.2rem;
  color: rgb(217, 220, 222);
}
.orcamentoType p{
font-size: 0.9rem;
font-weight: bold;
color: rgb(224, 218, 218);
margin: 0.4rem 0 0.3rem 0;
}
.orcamentoPreco{
 display: flex;
 flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.2rem;
}

.orcamentoPreco p:last-child {
  font-size: 1.1rem;
  color: rgb(183, 143, 63);
  letter-spacing: -1px;
}
.orcamentoType a{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.orcamentoType a:first-of-type {
 border: 1px solid transparent;
 color: black;
 background-color:  rgb(204, 142, 18);
  padding: 0.8rem;
  border-radius: 0.8rem;
    opacity: 0.8;
  transition: 0.4s;
  width: 11rem;
  margin: 0 auto 1rem;
}
.orcamentoType a:first-of-type:hover{
opacity: 1;

}
.orcamentoType a:last-child{
  color: rgb(41, 39, 39);
  font-weight: bold;
  transition: 0.7s;
  letter-spacing: -1px;
}
.orcamentoType a:last-child:hover{
  color: rgb(53, 53, 53);
}
.sidebar{
  display: none;
}
}
@media(min-width:1200px) and (max-width:1440px){
    
.navPacotes h1{
  font-size: 4rem;
  letter-spacing: 1px;
  font-style: italic;
  color:  rgb(183, 143, 63);
  }


.section{
  height: 100%;
  background-color: rgba(0, 0, 0, 0.996);
  border: none;
}
.section h1{
  text-align: center;
  padding-top: 2rem;
  font-size: 2.2rem;
  color: rgb(169, 176, 165);
}
.section span{
  color:rgb(183, 143, 63) ;
 font-size: 2.2rem;
}

.sectionContainer{
  width: 85%;
  margin: 0  auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
 
}

.sectionContainer img{
  width: 100%;
  height: 15rem;
  border-radius:  0.3rem;
}
.sectionContainer img:hover{
  transform: translateY(-5px);
}

/* ORCAMENTO TIPO */
.orcamentoType{
  height: 27rem;
  width: 19.5rem;
  border-radius:  0.7rem;
 text-align: center;
 margin: 3rem 1rem;
 border: 1px solid transparent;
 background-color: rgba(22, 22, 22, 0.862);
}
.orcamentoType h2{
  margin-top: 0.4rem;
  font-size: 1.3rem;
  color: rgb(217, 220, 222);
}
.orcamentoType p{
font-size: 0.9rem;
font-weight: bold;
color: rgb(224, 218, 218);
margin: 0.4rem 0 0.3rem 0;
}
.orcamentoPreco{
 display: flex;
 flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.2rem;
}

.orcamentoPreco p:last-child {
  font-size: 1.2rem;
  color: rgb(183, 143, 63);
  letter-spacing: -1px;
}
.orcamentoType a{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.orcamentoType a:first-of-type {
 border: 1px solid transparent;
 color: black;
 background-color:  rgb(204, 142, 18);
  padding: 0.8rem;
  border-radius: 0.8rem;
    opacity: 0.8;
  transition: 0.4s;
  width: 11rem;
  margin: 0 auto 1rem;
}
.orcamentoType a:first-of-type:hover{
opacity: 1;

}
.orcamentoType a:last-child{
  color: rgb(41, 39, 39);
  font-weight: bold;
  transition: 0.7s;
  letter-spacing: -1px;
}
.orcamentoType a:last-child:hover{
  color: rgb(53, 53, 53);
}
.sidebar{
  display: none;
}
}