span{
  color: rgb(146, 117, 60);
}
.navSobre{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 26rem;
  background: linear-gradient(rgba(17, 17, 17, 0.655),rgba(20,20,20,1)),url(../assets/drink5.jpeg);
  align-items: center;
  justify-content: center;
}
.navSobre h1{
  margin-top: 5rem;
  text-align: center;
  font-size: 4rem;
  letter-spacing: 1px;
  font-style: italic;
  color: rgb(146, 117, 60);
}
.navSobre p{
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0rem 0  2rem 0;
  color: white;
 
}

.sobre{
  background: linear-gradient(rgba(17, 17, 17, 0.655),rgba(20,20,20,1));
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  
}
.contentSobre{
  display: flex;
  justify-content: space-between;
  width: 90%;
  gap: 1rem;
  margin:0 auto;
  border-right: 1px solid rgb(122, 119, 119);
  border-left: 1px solid rgb(122, 119, 119);
  padding: 0 1rem 0 0;
  position: relative;
  
}


 .SobreInfo{
  width: 60%;
}


.SobreInfo h3{
  font-size: 2rem;
  width: 20rem;
  text-align: center;
  margin: 2rem auto ;
  color:#e1dcdc;
  font-family: 'Montserrat', sans-serif;


}
.vivaHoje{
  color:  rgb(222, 153, 16);
}
.SobreInfo p{
  font-size: 1.2rem;
  width: 80%;
  text-align:start;
  margin: 0 auto;

  color:#f0ecec;
  font-size: 1.2rem;
  font-family:Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    line-height: 1.8;
    margin-bottom: 20px;

}
.imgSobre{
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 100%;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
 img{
  width: 100%;
  height: 100%;
  border-radius: 1rem 0 0 1rem;
}

.sidebar {
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:transparent;
  display: flex;
 padding-top : 0px; 
  writing-mode: vertical-rl; 
  transform: rotate(180deg); 
  text-orientation: mixed;
  color: rgb(146, 117, 60);
  overflow-y: none;
  justify-content: center;
  margin-bottom: 0;
  
}

.textContainer {
  height: 100%; 
  overflow: hidden; 
  position: relative;
  margin: 0;

}
@keyframes moveUp {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}
.sidebar h2{
  font-size:2.3rem;
    text-transform: uppercase;
    animation: moveUp 20s linear infinite; 
    position: relative;
    padding-bottom: 0px;
    font-weight: 800;
}
@media (max-width:480px){
  .navSobre h1{
    margin-top: 5rem;
    text-align: center;
    font-size: 2rem;
    letter-spacing: 1px;
    font-style: italic;
    color: rgb(146, 117, 60);
    margin-top: 4rem;
  }
  .navSobre p{
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    margin: 1rem 0  2rem 0;
    color: white;
   
  }
  

  .contentSobre{
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 1rem;
    margin:0 auto;
    border: none;
    padding: 0;
    position: relative;
    
  }
  .sidebar {
  display: none;
    
  }
  
   .SobreInfo{
    width: 100%;
  }
  
  
  .SobreInfo h3{
    font-size: 1.5rem;
    width: 100%;
    text-align: center;
    margin: 2rem auto ;
    color:#e1dcdc;
    font-family: 'Montserrat', sans-serif;
  }
  .vivaHoje{
    color:  rgb(222, 153, 16);
  }
  .SobreInfo p{
    font-size: 1.2rem;
    width: 90%;
    text-align:start;
    margin: 0 auto;
    color:#f0ecec;
    font-size: 1.2rem;
    font-family:Arial, Helvetica, sans-serif;
      font-size: 1.2rem;
      line-height: 1.8;
      margin-bottom: 20px;
  
  }
  .imgSobre{
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 100%;
      gap: 1rem;
  margin: 0 auto 1rem;
  }
   img{
    width: 100%;
    height: 100%;
    border-radius: 1rem;
  }
}




@media (min-width:481px) and (max-width:661px){
  .navSobre h1{
    text-align: center;
    font-size: 2.5rem;
    letter-spacing: 1px;
    font-style: italic;
    color: rgb(146, 117, 60);
    margin-top: 4rem;
  }
  .navSobre p{
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
    margin: 1rem 0  2rem ;
    color: white;
   
  }
  

  .contentSobre{
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 1rem;
    margin:0 auto;
    border: none;
    padding: 0;
    position: relative;
    
  }
  .sidebar {
  display: none;
    
  }
  
   .SobreInfo{
    width: 100%;
  }
  
  
  .SobreInfo h3{
    font-size: 2rem;
    width: 100%;
    text-align: center;
    margin: 2rem auto ;
    color:#e1dcdc;
    font-family: 'Montserrat', sans-serif;
  }
  .vivaHoje{
    color:  rgb(222, 153, 16);
  }
  .SobreInfo p{
    font-size: 1.2rem;
    width: 90%;
    text-align:start;
    margin: 0 auto 1rem;
    color:#f0ecec;
    font-size: 1.2rem;
    font-family:Arial, Helvetica, sans-serif;
    line-height: 1.8;

  
  }
  .imgSobre{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 100%;
      gap: 1rem;
  margin: 0 auto 1rem;
  }
   img{
    width: 100%;
    height: 20rem;
    border-radius: 1rem;
  }
}

@media (min-width: 662px) and (max-width: 991px){
  .navSobre h1{
    text-align: center;
    font-size: 3rem;
    letter-spacing: 1px;
    font-style: italic;
    color: rgb(146, 117, 60);
    margin-top: 3rem;
  }
  .navSobre p{
    width: 90%;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 500;
    margin: 0 0  2rem ;
    color: white;
   
  }
  

  .contentSobre{
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 1rem;
    margin:0 auto;
    border: none;
    padding: 0;
    position: relative;
    
  }
 
.sidebar {
  position: fixed;
  top: 0px;
  left: 0;
  width: 4rem;
  height: 115vh;
  background-color:transparent;
  display: flex;
 padding-top : 20px; 
  writing-mode: vertical-rl; 
  transform: rotate(180deg); 
  text-orientation: mixed;
  color: rgb(146, 117, 60);
  overflow-y: none;
  justify-content: center;
  
}
.sidebar h2{
    font-size:2.4rem;
}

  
   .SobreInfo{
    width: 100%;

  }
  
  
  .SobreInfo h3{
    font-size: 2rem;
    width: 100%;
    text-align: center;
    margin: 2rem auto ;
    color:#e1dcdc;
    font-family: 'Montserrat', sans-serif;
  }
  .vivaHoje{
    color:  rgb(222, 153, 16);
  }
  .SobreInfo p{
    font-size: 1.2rem;
    width: 80%;
    text-align:start;
    margin: 0 auto 1rem;
    color:#f0ecec;
    font-size: 1.2rem;
    font-family:Arial, Helvetica, sans-serif;
    line-height: 1.8;

  
  }
  .imgSobre{
    display: flex;
    flex-direction:row;
    justify-content: center;
    width: 90%;
    height: 100%;
      gap: 1rem;
  margin: 0 auto 1rem;
  }
   img{
    width: 45%;
    height: 100%;
    border-radius: 1rem;
  }
  .sidebar{
    display: none;
  }
}

@media (min-width: 992px) and (max-width: 1199px){
  .navSobre h1{
    text-align: center;
    font-size: 3rem;
    letter-spacing: 1px;
    font-style: italic;
    color: rgb(146, 117, 60);
    margin-top: 3rem;
  }
  .navSobre p{
    width: 90%;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 500;
    margin: 0 0  2rem ;
    color: white;
   
  }
  

  .contentSobre{
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 1rem;
    margin:0 auto;
    border: none;
    padding: 0;
    position: relative;
    
  }
 
.sidebar {
  position: fixed;
  top: 0px;
  left: 0;
  width: 4rem;
  height: 115vh;
  background-color:transparent;
  display: flex;
 padding-top : 20px; 
  writing-mode: vertical-rl; 
  transform: rotate(180deg); 
  text-orientation: mixed;
  color: rgb(146, 117, 60);
  overflow-y: none;
  justify-content: center;
  
}
.sidebar h2{
    font-size:2.4rem;
}

  
   .SobreInfo{
    width: 100%;

  }
  
  
  .SobreInfo h3{
    font-size: 2rem;
    width: 100%;
    text-align: center;
    margin: 2rem auto ;
    color:#e1dcdc;
    font-family: 'Montserrat', sans-serif;
  }
  .vivaHoje{
    color:  rgb(222, 153, 16);
  }
  .SobreInfo p{
    font-size: 1.2rem;
    width: 80%;
    text-align:start;
    margin: 0 auto 1rem;
    color:#f0ecec;
    font-size: 1.2rem;
    font-family:Arial, Helvetica, sans-serif;
    line-height: 1.8;

  
  }
  .imgSobre{
    display: flex;
    flex-direction:row;
    justify-content: center;
    width: 90%;
    height: 100%;
      gap: 1rem;
  margin: 0 auto 1rem;
  }
   .imgSobre img{
    width: 45%;
    height: 100%;
    border-radius: 1rem;
  }
  .sidebar{
    display: none;
  }
}
@media(min-width: 1200px) and (max-width:1440px){
  
span{
  color: rgb(146, 117, 60);
}
.navSobre{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 26rem;
  background: linear-gradient(rgba(17, 17, 17, 0.655),rgba(20,20,20,1)),url(../assets/drink5.jpeg);
  align-items: center;
  justify-content: center;
}
.navSobre h1{
  margin-top: 5rem;
  text-align: center;
  font-size: 5rem;
  letter-spacing: 1px;
  font-style: italic;
  color: rgb(146, 117, 60);
}
.navSobre p{
  text-align: center;
  font-size: 1.3rem;
  font-weight: 500;
  margin: 0rem 0  2rem 0;
  color: white;
 
}

.sobre{
  background: linear-gradient(rgba(17, 17, 17, 0.655),rgba(20,20,20,1));
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  
}
.contentSobre{
  display: flex;
  justify-content: space-between;
  width: 90%;
  gap: 1rem;
  margin:0 auto;
  border: none;
  padding: 0 1rem 0 0;
  position: relative;
  
}
.sidebar {
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:transparent;
  display: flex;
 padding-top : 20px; 
  writing-mode: vertical-rl; 
  transform: rotate(180deg); 
  text-orientation: mixed;
  color: rgb(146, 117, 60);
  overflow-y: none;
  justify-content: center;
  
}

 .SobreInfo{
  width: 70%;
}


.SobreInfo h3{
  font-size: 2.2rem;
  width:80%;
  text-align: center;
  margin: 2rem auto ;
  color:#e1dcdc;
  font-family: 'Montserrat', sans-serif;


}
.vivaHoje{
  color:  rgb(222, 153, 16);
}
.SobreInfo p{
  font-size:1.3rem;
  width: 80%;
  text-align:start;
  margin: 0 auto;
  color:#f0ecec; 
  font-family:Arial, Helvetica, sans-serif; 
    line-height: 1.8;
    margin-bottom: 20px;

}
.imgSobre{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  height: 100%;
  gap: 1rem;
 margin-top: 13rem;
}
 img{
  width: 100%;
  height: 100%;
  border-radius: 1rem 0 0 1rem;
}
}

